
.error {
    -fx-background-color: red;
}


.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.selected {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-border-radius: 7 7 0 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
